// Create credentials.key with necessary keys.
// This file MUST be kept locally. DO NOT upload it to Internet.

// Private key of Payer (machine):
const BCHAR *g_payer_key = "0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef";

